html {
  background-color: #CBC4BC;
}
h1 {
  text-align: center;
  /* font-family: "Roboto Slab", sans-serif; */
  font-family: "lobster two", sans-serif;
  position: relative;
}

img {
  max-width: 100%;
  display: flex;
  justify-content: center;
}

button {
  background-color: #387AA4;
  color: #FFAAAA;
}

@media (min-width: 300px) {
  h1 {
    font-weight: 200;
    font-size: 3em;
  }

  button {
    font-size: .5em;
  }
}

@media (min-width: 750px) {
  h1 {
    font-weight: 300;
    font-size: 5em;
  }

  button {
    font-size: 1em;
  }
}

.opening {
  padding: 1em;
  margin-left: 20px;
  margin-right: 20px;
}
