html {
  background-color: #CBC4BC;
  /* background-image: url('../images/rEvil.jpg'); */
}
h1 {
  text-align: center;
  /* font-family: "Roboto Slab", sans-serif; */
  font-family: "lobster two", sans-serif;
  position: relative;
}

.wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

button {
  max-width: 200px;
  background-color: #387AA4;
  color: #FFAAAA;
  border-radius: 10px;
}

a {
  color: #FFAAAA;
}

img {
  max-width: 100%;
}

@media(max-width: 500px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }
  .nav-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 300px) {
  h1 {
    /* justify-content: center; */
    font-weight: 200;
    font-size: 3em;
  }

  button {
    font-size: .5em;
  }
}

@media (min-width: 750px) {
  h1 {
    font-weight: 300;
    font-size: 5em;
  }

  button {
    font-size: 1em;
  }
}

.opening {
  padding: 1em;
  margin-left: 70px;
  margin-right: 50px;
}
